@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: #ddd;
}
.member_form{
  background-color: #fff;
  padding: 40px;
    border-radius: 7px;
}

.container {
  font-size: 16px;
  margin: auto;

}
@media screen and (max-width:500px){

.member_form {
  padding: 23px;
}
}